<div id="logreg-forms">
  <form class="form-signin" [formGroup]="formLogin" (ngSubmit)="loginBtn(formLogin)">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
    <div class="input-group" style="text-align: center">
      <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="Email address"
        required="" autofocus="">
    </div>
    <div class="input-group" style="text-align: center">
      <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password"
        required="">
    </div>

    <div class="input-group" style="text-align: center">
      <button class="btn btn-md btn-rounded btn-block form-control submit" type="submit"><i class="fas fa-sign-in-alt"></i>
        Sign in</button>
        <button  routerLink="/auth/register" class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i>
          Sign up
          New Account</button>
    </div>
    <div *ngIf="message?.length > 0">{{ message }}</div>

    <hr>
    <!-- <p>Don't have an account!</p>  -->

  </form>

</div>
